.zakaz_head {
    border: 1px solid #45a049;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 15px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 20px;
    color: #45a049;
    position: relative;
    z-index: 1;
    transition: box-shadow 0.3s ease;
}

.head_menu {
    background-color: #45a049;
    padding: 10px;
    color: white;
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    top: 0;
    z-index: 1000;
    gap: 20px;

}

.zakaz_id {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 8px;
}

.head_menu1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    background-color: #333;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    color: white;
    margin-bottom: 5px;
}

.head_menu2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    background-color: #333;
    padding: 5px 10px;
    font-size: 16px;
    margin-top: 5px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 50px;
    z-index: 1000;
    color: white;
}

.head_menu1 h3,
.head_menu2 h3 {
    font-weight: normal;
}